In [105]:
import pandas as pd

In [106]:
cp=pd.read_excel(r"c:\Users\Admin\Desktop\Crop_recommendation.xlsx",na_values=[' ?','? ','?'])

In [107]:
cp

          N     P     K  temperature   humidity        ph    rainfall   label
0      90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536    rice
1      85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537    rice
2      60.0  55.0   0.0    23.004459  82.320763  7.840207  263.964248    rice
3      74.0  35.0  40.0    26.491096  80.158363  6.980401    0.000000    rice
4      78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340    rice
...     ...   ...   ...          ...        ...       ...         ...     ...
2195  107.0  34.0  32.0    26.774637  66.413269  6.780064  177.774507  coffee
2196   99.0  15.0  27.0    27.417112  56.636362  6.086922  127.924610  coffee
2197  118.0  33.0  30.0    24.131797  67.225123  6.362608  173.322839  coffee
2198  117.0  32.0  34.0    26.272418  52.127394  6.758793  127.175293  coffee
2199  104.0   NaN  30.0    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [108]:
cp['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [109]:
cp.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [110]:
cp.isnull().sum()

N               39
P               96
K              141
temperature      1
humidity         1
ph              15
rainfall         0
label            0
dtype: int64

In [111]:
cp.isnull().sum()
print(cp['ph'].mean())
print(cp['ph'].median())
print(cp['ph'].mode())

6.470419942785811
6.425419926
0       3.504752
1       3.510404
2       3.525366
3       3.532009
4       3.558823
          ...
2180    9.416003
2181    9.459493
2182    9.679241
2183    9.926212
2184    9.935091
Name: ph, Length: 2185, dtype: float64

In [112]:
print(cp['N'].mean())
cp.loc[cp['N'].isnull(),['N']]=50
cp.loc[cp['P'].isnull(),['P']]=52
cp.loc[cp['K'].isnull(),['K']]=32
cp.loc[cp['temperature'].isnull(),['temperature']]=25
cp.loc[cp['humidity'].isnull(),['humidity']]=25
cp.loc[cp['ph'].isnull(),['ph']]=6

50.366959740860715

In [113]:
cp.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [114]:
cp.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [115]:
cp['K'].mode()

0    32.0
Name: K, dtype: float64

In [116]:
cp.loc[cp['K'].isnull(),['K']]=17

In [117]:
cp["K"]

0       43.0
1       41.0
2        0.0
3       40.0
4       42.0
        ...
2195    32.0
2196    27.0
2197    30.0
2198    34.0
2199    30.0
Name: K, Length: 2200, dtype: float64

In [118]:
cp.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [119]:

cp['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [120]:
from sklearn.preprocessing import LabelEncoder

In [121]:
lb=LabelEncoder()

In [122]:
cp['crop_encoder']=lb.fit_transform(cp['label'])

In [123]:
cp.drop('label',axis=1)

,N,P,K,temperature,humidity,ph,rainfall,crop_encoder
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,20
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,20
2,60.0,55.0,0.0,23.004459,82.320763,7.840207,263.964248,20
3,74.0,35.0,40.0,26.491096,80.158363,6.980401,0.000000,20
4,78.0,42.0,42.0,20.130175,81.604873,7.628473,262.717340,20
...,...,...,...,...,...,...,...,...
2195,107.0,34.0,32.0,26.774637,66.413269,6.780064,177.774507,5
2196,99.0,15.0,27.0,27.417112,56.636362,6.086922,127.924610,5
2197,118.0,33.0,30.0,24.131797,67.225123,6.362608,173.322839,5
2198,117.0,32.0,34.0,26.272418,52.127394,6.758793,127.175293,5
2199,104.0,52.0,30.0,23.603016,60.396475,6.779833,140.937041,5

In [124]:
cp.drop('label',axis=1)

,N,P,K,temperature,humidity,ph,rainfall,crop_encoder
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,20
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,20
2,60.0,55.0,0.0,23.004459,82.320763,7.840207,263.964248,20
3,74.0,35.0,40.0,26.491096,80.158363,6.980401,0.000000,20
4,78.0,42.0,42.0,20.130175,81.604873,7.628473,262.717340,20
...,...,...,...,...,...,...,...,...
2195,107.0,34.0,32.0,26.774637,66.413269,6.780064,177.774507,5
2196,99.0,15.0,27.0,27.417112,56.636362,6.086922,127.924610,5
2197,118.0,33.0,30.0,24.131797,67.225123,6.362608,173.322839,5
2198,117.0,32.0,34.0,26.272418,52.127394,6.758793,127.175293,5
2199,104.0,52.0,30.0,23.603016,60.396475,6.779833,140.937041,5

In [125]:
cp

,N,P,K,temperature,humidity,ph,rainfall,label,crop_encoder
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,rice,20
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,rice,20
2,60.0,55.0,0.0,23.004459,82.320763,7.840207,263.964248,rice,20
3,74.0,35.0,40.0,26.491096,80.158363,6.980401,0.000000,rice,20
4,78.0,42.0,42.0,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107.0,34.0,32.0,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99.0,15.0,27.0,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118.0,33.0,30.0,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117.0,32.0,34.0,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104.0,52.0,30.0,23.603016,60.396475,6.779833,140.937041,coffee,5

In [126]:
from sklearn.model_selection import train_test_split

In [127]:
x=cp.drop(['label','crop_encoder'],axis=1)

In [128]:
y=cp['label']

In [129]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=2529)

In [130]:
from sklearn.linear_model import LogisticRegression

In [131]:
model=LogisticRegression()

In [132]:
model.fit(x_train,y_train)

C:\Users\Admin\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [133]:
x_Test_prediction=model.predict(x_test)

In [134]:
x_Test_prediction

array(['mothbeans', 'coffee', 'mothbeans', 'cotton', 'coconut',
       'blackgram', 'papaya', 'lentil', 'cotton', 'jute', 'banana',
       'muskmelon', 'pigeonpeas', 'papaya', 'chickpea', 'grapes',
       'muskmelon', 'apple', 'watermelon', 'watermelon', 'muskmelon',
       'rice', 'coconut', 'kidneybeans', 'cotton', 'chickpea', 'chickpea',
       'watermelon', 'grapes', 'apple', 'mungbean', 'orange',
       'watermelon', 'mungbean', 'grapes', 'blackgram', 'maize',
       'mothbeans', 'banana', 'coconut', 'watermelon', 'pigeonpeas',
       'papaya', 'pigeonpeas', 'maize', 'mungbean', 'watermelon',
       'orange', 'mango', 'apple', 'watermelon', 'watermelon', 'maize',
       'coconut', 'banana', 'mungbean', 'orange', 'pigeonpeas', 'jute',
       'orange', 'pigeonpeas', 'mungbean', 'coconut', 'grapes', 'banana',
       'muskmelon', 'muskmelon', 'muskmelon', 'papaya', 'kidneybeans',
       'mango', 'watermelon', 'maize', 'kidneybeans', 'jute', 'apple',
       'lentil', 'cotton', 'mungbean', 'muskmelon', 'coffee', 'chickpea',
       'banana', 'grapes', 'papaya', 'coconut', 'cotton', 'grapes',
       'rice', 'lentil', 'pomegranate', 'coffee', 'mungbean', 'papaya',
       'orange', 'coffee', 'chickpea', 'rice', 'chickpea', 'kidneybeans',
       'blackgram', 'kidneybeans', 'maize', 'coffee', 'apple', 'lentil',
       'apple', 'kidneybeans', 'chickpea', 'pomegranate', 'muskmelon',
       'mothbeans', 'pomegranate', 'mothbeans', 'mothbeans', 'pigeonpeas',
       'muskmelon', 'jute', 'pomegranate', 'pigeonpeas', 'chickpea',
       'rice', 'pigeonpeas', 'pomegranate', 'grapes', 'chickpea', 'maize',
       'grapes', 'grapes', 'kidneybeans', 'cotton', 'mothbeans',
       'watermelon', 'papaya', 'coffee', 'jute', 'jute', 'cotton',
       'banana', 'cotton', 'pigeonpeas', 'papaya', 'muskmelon', 'coconut',
       'maize', 'watermelon', 'apple', 'pigeonpeas', 'kidneybeans',
       'watermelon', 'coffee', 'apple', 'chickpea', 'coffee',
       'pomegranate', 'jute', 'coffee', 'mungbean', 'mango', 'maize',
       'mango', 'lentil', 'jute', 'coconut', 'rice', 'orange', 'mungbean',
       'grapes', 'chickpea', 'pigeonpeas', 'kidneybeans', 'papaya',
       'orange', 'mothbeans', 'banana', 'banana', 'pomegranate', 'jute',
       'coffee', 'cotton', 'muskmelon', 'muskmelon', 'orange', 'apple',
       'lentil', 'orange', 'coffee', 'banana', 'muskmelon', 'watermelon',
       'banana', 'lentil', 'muskmelon', 'coffee', 'blackgram', 'banana',
       'grapes', 'watermelon', 'kidneybeans', 'pomegranate', 'mango',
       'blackgram', 'coconut', 'pomegranate', 'rice', 'pomegranate',
       'lentil', 'mungbean', 'coffee', 'lentil', 'watermelon',
       'blackgram', 'jute', 'kidneybeans', 'mothbeans', 'pomegranate',
       'orange', 'pigeonpeas', 'mothbeans', 'apple', 'maize', 'mothbeans',
       'mungbean', 'mothbeans', 'blackgram', 'lentil', 'mungbean',
       'grapes', 'chickpea', 'maize', 'banana', 'orange', 'pigeonpeas',
       'apple', 'blackgram', 'orange', 'coffee', 'orange', 'coffee',
       'cotton', 'pigeonpeas', 'rice', 'papaya', 'mungbean', 'maize',
       'mango', 'muskmelon', 'kidneybeans', 'mothbeans', 'pigeonpeas',
       'coconut', 'pomegranate', 'blackgram', 'jute', 'blackgram',
       'kidneybeans', 'maize', 'coffee', 'rice', 'coffee', 'pigeonpeas',
       'banana', 'pomegranate', 'muskmelon', 'papaya', 'muskmelon',
       'papaya', 'mothbeans', 'pomegranate', 'mungbean', 'mango',
       'grapes', 'banana', 'banana', 'coconut', 'coffee', 'muskmelon',
       'maize', 'mothbeans', 'lentil', 'chickpea', 'jute', 'pomegranate',
       'maize', 'jute', 'jute', 'mungbean', 'rice', 'pigeonpeas',
       'coconut', 'banana', 'rice', 'papaya', 'apple', 'muskmelon',
       'lentil', 'orange', 'watermelon', 'papaya', 'orange', 'coconut',
       'coffee', 'banana', 'mothbeans', 'orange', 'mango', 'mungbean',
       'mango', 'cotton', 'kidneybeans', 'mango', 'mothbeans',
       'pigeonpeas', 'cotton', 'banana', 'cotton', 'grapes', 'coconut',
       'lentil', 'cotton', 'apple', 'mothbeans', 'muskmelon', 'orange',
       'mothbeans', 'jute', 'blackgram', 'lentil', 'coffee', 'muskmelon',
       'coconut', 'banana', 'coffee', 'rice', 'cotton', 'mothbeans',
       'orange', 'pomegranate', 'grapes', 'lentil', 'muskmelon', 'papaya',
       'mungbean', 'jute', 'papaya', 'coffee', 'maize', 'cotton', 'rice',
       'grapes', 'apple', 'pigeonpeas', 'papaya', 'banana', 'mango',
       'banana', 'pigeonpeas', 'cotton', 'coffee', 'mothbeans',
       'mothbeans', 'rice', 'mungbean', 'coffee', 'cotton', 'papaya',
       'grapes', 'lentil', 'muskmelon', 'kidneybeans', 'chickpea',
       'pigeonpeas', 'rice', 'watermelon', 'grapes', 'coffee',
       'pomegranate', 'coconut', 'coffee', 'maize', 'mango', 'muskmelon',
       'papaya', 'orange', 'pomegranate', 'mango', 'cotton', 'chickpea',
       'maize', 'blackgram', 'rice', 'lentil', 'banana', 'apple',
       'pigeonpeas', 'blackgram', 'chickpea', 'pigeonpeas', 'pigeonpeas',
       'lentil', 'kidneybeans', 'cotton', 'cotton', 'orange',
       'pomegranate', 'blackgram', 'grapes', 'grapes', 'mothbeans',
       'mango', 'apple', 'cotton', 'coconut', 'lentil', 'grapes',
       'mothbeans', 'papaya', 'banana', 'muskmelon', 'lentil', 'apple',
       'apple', 'watermelon', 'jute', 'jute', 'coffee', 'pomegranate',
       'coconut', 'grapes', 'coconut', 'grapes', 'blackgram', 'jute',
       'jute', 'muskmelon', 'coffee', 'banana', 'kidneybeans', 'banana',
       'jute', 'papaya', 'grapes', 'muskmelon', 'watermelon', 'grapes',
       'orange', 'jute', 'kidneybeans', 'mungbean', 'maize', 'rice',
       'cotton', 'mungbean', 'mango', 'watermelon', 'mango', 'mungbean',
       'kidneybeans', 'pigeonpeas', 'pigeonpeas', 'pigeonpeas', 'coffee',
       'chickpea', 'rice', 'grapes', 'pigeonpeas', 'mothbeans',
       'blackgram', 'blackgram', 'mango', 'mungbean', 'orange', 'maize',
       'mungbean', 'lentil', 'coconut', 'watermelon', 'papaya', 'cotton',
       'apple', 'apple', 'mango', 'banana', 'mothbeans', 'muskmelon',
       'banana', 'kidneybeans', 'jute', 'pomegranate', 'orange',
       'watermelon', 'banana', 'pomegranate', 'grapes', 'orange',
       'coffee', 'kidneybeans', 'coconut', 'cotton', 'jute', 'mungbean',
       'banana', 'coffee', 'kidneybeans', 'lentil', 'mungbean', 'rice',
       'lentil', 'mothbeans', 'orange', 'rice', 'muskmelon', 'papaya',
       'mango', 'apple', 'orange', 'watermelon', 'banana', 'jute',
       'watermelon', 'mothbeans', 'pomegranate', 'rice', 'coffee',
       'grapes', 'banana', 'kidneybeans', 'grapes', 'maize', 'maize',
       'kidneybeans', 'grapes', 'cotton', 'kidneybeans', 'watermelon',
       'coffee', 'rice', 'apple', 'papaya', 'orange', 'banana',
       'chickpea', 'coconut', 'pigeonpeas', 'mothbeans', 'papaya',
       'maize', 'pomegranate', 'lentil', 'watermelon'], dtype=object)

In [135]:
from sklearn.metrics import accuracy_score

In [136]:
acc=accuracy_score(x_Test_prediction,y_test)

In [137]:
acc

0.9272727272727272

In [138]:
import pickle

In [139]:
with open('model.pkl','wb') as model_file:
    pickle.dump(model,model_file)

In [140]:
pre

      actual  prediction  diffrence
2121       5           5          0
960       19          19          0
952       19          19          0
1958       6           6          0
681       14          14          0
...      ...         ...        ...
794        2          13        -11
287        3           3          0
1054       1          11        -10
2042       8          20        -12
1719      17          17          0

[660 rows x 3 columns]